@import '_colors.scss';

.footer {                                                                                                      
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $footer_background;

    .container{
        width: 100%;
        max-width: 1316px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.sitemap-wrapper{
    padding: 0;
    flex-flow: column wrap;
    height: 320px;
    display: flex;
}
